// Файл подключения bootstrap, здесь же будут переопределены переменные bootstrap
// по умолчанию.
@import "bootstrap/functions";
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "theme/theme";

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 1029px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1599px
);

// Containers
$container-max-widths: (
  sm: 800px,
  md: 800px,
  lg: 600px,
  xl: 600px,
  xxl: 720px,
  xxxl: 800px
);

// $grid-breakpoints: (
//   sm: 0,
//   lg: 1029px,
//   xl: 1200px,
//   xxl: 1440px,
//   xxxl: 1600px
// );


// // Containers
// $container-max-widths: (
//   lg: 600px,
//   xl: 600px,
//   xxl: 720px,
//   xxxl: 800px
// );

// Fonts
$font-family-base: Rounded Elegance;
// $enable-responsive-font-sizes: true;

// Navbar
$navbar-padding-y: 4px;
$navbar-toggler-font-size: $font-size-base;

// Цвета
$body-color: $theme-text-color;

$theme-colors: (
	"white":  $white,
	"orange": $theme-orange,
	"gray-1": $gray-100,
	"gray-2": $gray-200,
	"gray-3": $gray-300,
	"gray-4": $gray-400,
	"gray-5": $gray-500,
	"gray-6": $gray-600,
	"gray-7": $gray-700,
	"gray-8": $gray-800,
	"gray-9": $gray-900
);

$border-radius: 1rem;

@import "bootstrap/bootstrap";

