* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: Rounded Elegance;
    background-color: #636363 !important;
}

.container {
    max-width: 800px !important;
    margin: 0 auto;
    background-color: #fff;
}

.left, .right {
    background-color: #636363;
    height: 100vh;
}

.center {
    background-color: #fff;
    height: 100vh;
}

@font-face {
    font-family: "Rounded Elegance";
    src: url("fonts/Rounded Elegance.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
