* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: Rounded Elegance;
    color: #212121;
    background-color: #565656;
}

.container {
    margin: 0 auto;
    background-color: #fff;
    max-width: 700px;
}

@media screen and (max-width: 700px) {
    .container {
        max-width: 100vw !important;
    }
}

.page {
    .img {
        margin-bottom: -5px;
    }

    .content {
        margin: 0 auto;
        width: 80%;
        padding-bottom: 200px;
        h1 {
            text-align: center;
            margin-top: 5vh;
        }

        ul {
            margin: 5vh auto 0 auto;
            font-size: 1.5rem;

            li {
                margin-top: 40px;
            }
        }
    }
}

@font-face {
    font-family: "Rounded Elegance";
    src: url("fonts/Rounded Elegance.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
