// Theme colors
$theme-orange: #f89646;
$theme-text-color: #212121;

* {
  margin: 0;
  padding: 0;
}

html {
  --custom-vw: 100vw;
}

body {
  font-family: Rounded Elegance;
  line-height: 1.35;
  color: #595959;
}

@media (min-width: 800px) {
  html {
    --custom-vw: 800px;
  }
}

@media (min-width: 1029px) {
  html {
    --custom-vw: 600px;
  }
}

@media (min-width: 1440px) {
  html {
    --custom-vw: 720px;
  }
}

@media (min-width: 1599px) {
  html {
    --custom-vw: 800px;
  }
}

@supports(--css: variables) {
  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .town-text {
    font-size: calc(37.5/800*var(--custom-vw));
    line-height: 1.63;
  }

  .kamin-header {
    font-size: calc(52.5/800*var(--custom-vw));
    margin-top: calc(275/800*var(--custom-vw));
  }

  .highlited {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
  }

  .py-text {
    padding-top: calc(43/800*var(--custom-vw));
    padding-bottom: calc(43/800*var(--custom-vw));
  }

  .page-offset {
    margin-left: calc(50/800*var(--custom-vw));
    margin-right: calc(50/800*var(--custom-vw));
    padding-left: calc(15/800*var(--custom-vw));
    padding-right: calc(15/800*var(--custom-vw)); 
  }

  .page-header {
    font-size: calc(44/800*var(--custom-vw));;
    font-weight: bold;
    padding: 15px;
  }

  .mini-header {
    font-size: calc(36/800*var(--custom-vw));
    margin-bottom: calc(10/800*var(--custom-vw));
  }

  .page-text {
    font-size: calc(28/800*var(--custom-vw));
    margin-top: calc(25/800*var(--custom-vw));
  }

  .page-text-list {
    margin-left: calc(26/800*var(--custom-vw));
  }

  .center-padding {
    padding-top: calc(55/800*var(--custom-vw));
    padding-bottom: calc(55/800*var(--custom-vw));
  }

  .center-padding-less {
    padding-top: calc(40/800*var(--custom-vw));
    padding-bottom: calc(40/800*var(--custom-vw));
  }

  .middle-padding {
    padding-top: calc(20/800*var(--custom-vw));
  }

  .left-padding {
    padding-left: calc(40/800*var(--custom-vw));
  }
}

@font-face {
  font-family: "Rounded Elegance";
  src: url("fonts/Rounded Elegance.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
